.browse {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__head {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    &__left {
      --gap: 2rem;
    }
  }
  &__genres {
    margin-top: 3rem;
    margin-bottom: 10rem;
  }
  @media (max-width: 576px) {
    &__head {
      &__right,
      &__left {
        --gap: 0.3rem;
        align-items: center;
        a {
          height: 100%;
        }
      }
      &__right {
        align-items: center;
      }
    }
  }
}
