.hero {
  position: relative;
  z-index: 99;

  &__bg.bg-signout {
    background: url('../../images/bg-signout.jpg') no-repeat;
    background-size: cover;
  }
  &__bg.bg-home {
    background: url('../../images/bg-home.jpg');
    background-size: cover;
  }
  &__bg {
    position: absolute;
    inset: 0;
    z-index: -2;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: -1;
    }
  }
}
