@import '../sass/variables';

.resetPw {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;

  &__head {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $screen-md-min) {
    background: transparent;
  }
}
