.header-desktop {
  height: 4rem;
  padding-top: calc(20px + 0.5rem);
  margin: 0 5%;
  &.fixed {
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0)
    );

    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5em;
    height: 5.5em;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: background-color 1000ms 300ms;
  }
  &.top {
    background-color: transparent;
  }
}

.header-browse-search {
  position: relative;
  --gap: 0;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
  transition: background-color 500ms ease-in-out, border 500ms ease-in-out;
  &.open {
    background-color: rgba(0, 0, 0, 0.7);
    border: white 1px solid;
  }
  &__input {
    height: 100%;
    background: none;
    outline: none;
    border: none;
    color: white;
    width: 2.5rem;
    transition: 500ms width ease-in-out, padding 100ms ease-in-out;
    &.open {
      width: 15rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  &__btn,
  &__close {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(1);
  }
  &__btn {
    left: 0;
    padding: 0.2rem;
  }
  &__close {
    right: 0;
    padding: 0.5rem;
    display: none;
    &.active {
      display: block;
    }
  }
  @media (max-width: 720px) {
    &__input {
      &.open {
        width: 20vw;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
      }
    }
  }
  @media (max-width: 576px) {
    height: 60%;
    &__input {
      &.open {
        width: 5.5rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        font-size: 0.8rem;
      }
    }
  }
}

.header-browse-nav {
  &__btn {
    --gap: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border: white 1px solid;
    height: 100%;
    padding-left: 1rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
    &:focus {
      background: rgba(0, 0, 0, 0.9);
    }

    img {
      transform: rotateZ(90deg) scale(0.5);
      filter: invert(1);
    }
  }
  &__list {
    position: relative;
    top: -1px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    flex-direction: column;
    --gap: 0.5rem;

    opacity: 0;
    transition: opacity 400ms ease-in-out;
    li {
      &:first-child {
        a {
          padding-top: 0.5rem;
        }
      }
      &:last-child {
        a {
          padding-bottom: 0.5rem;
        }
      }
    }

    &.open {
      opacity: 1;
    }
    a {
      padding: 0 1rem;
      display: block;
      color: white;
      z-index: -99999;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 576px) {
    height: 60%;
    font-size: var(--fs-300);
    &__btn {
      padding-left: 0.5rem;
    }
    &__list {
      a {
        padding: 0 0.5rem;
      }
    }
  }
}

.header-browse-out {
  background-color: rgba(0, 0, 0, 0.7);
  padding-inline: 1rem;
  color: white;
  font-weight: 700;
  border: white 1px solid;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 576px) {
    display: grid;
    height: 60%;
    font-size: var(--fs-300);
    padding: 0.2rem 0.3rem;
  }
}
